@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500&family=Poppins:wght@500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

.parent {
  height: 580px;
  width: 100%;
  position: relative;
}
.parent::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5) url(assets/img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
}

.logo:hover {
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.searchBar input {
  outline: none;
  width: 800px;
  height: 50px;
  text-transform: capitalize;
}

.res-card:hover {
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.shimmer-card {
  margin-top: 50px;
  margin-bottom: 100px;
  height: 400px;
  width: 320px;
}

.shimmer-card:hover {
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.shimmer-img {
  height: 150px;
  width: 288px;
}
/* h 288 w 410 */

.shimmer-name {
  width: 114px;
  height: 28px;
}

.shimmer-rating {
  width: 55px;
  height: 28;
}

.shimmertext {
  width: 290px;
  height: 28px;
}

.shimmertext1 {
  width: 290px;
  height: 28px;
}
.shimmertext2 {
  width: 290px;
  height: 28px;
}
.shimmertime {
  height: 26px;
  width: 163px;
}

.shimmermain {
  animation: blink 0.9s linear infinite alternate;
  -webkit-animation: blink 0.9s linear infinite alternate;
}

@keyframes blink {
  0% {
    opacity: 0.15;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

.resMenuCard {
  border-radius: 50px;
  background: #f6f5f4;
  box-shadow: 20px 20px 60px #d1d0cf, -20px -20px 60px #ffffff;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.resMenuCard img {
  height: 200px;
  width: 200px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.menuCard {
  height: 400px;
  width: 100%;
  background-color: #cccccc4d;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.shimmerBG {
  animation: shimmer 0.9s linear infinite alternate;
  -webkit-animation: shimmer 0.9s linear infinite alternate;
}

@-webkit-keyframes shimmer {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@keyframes shimmer {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

.shimmerBG .imgShimmer {
  height: 200px;
  width: 200px;
  background-color: gray;
  opacity: 0.3;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.shimmerBG .shimmer-btn {
  height: 3rem;
  width: 50px;
}

.resMenuCard .veg {
  background-image: url(./assets/vegsymbol.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
}
.resMenuCard .nonveg {
  background-image: url(./assets/nv.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
}
